{% extends 'index.html' %}
{% load static %}

{% block title %}
<title> SuperShop | Cart</title>
{% endblock %}

{% block body %}
<!-- breadcrumb part start-->
<section class="breadcrumb_part">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb_iner">
          <h2>cart list</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb part end-->

<!--================Cart Area =================-->
<div class="container fluid my-3">
  {% if cart %}
  <table class="responsive">
    <table class="table">
      <thead>
        <th>Image</th>
        <th>Name</th>
        <th>Brand/Color/Size</th>
        <th>Price</th>
        <th> </th>
        <th>Qty</th>
        <th> </th>
        <th>Total</th>
      </thead>
      <tbody>
        {% for key, value in cart.items %}
        <tr>
          <td><a href="{{value.pic}}" target="_blank">
              <img src="{{value.pic}}" height="80px" width="80px" class="rounded" alt="">
            </a></td>

          <td>{{value.name}}</td>
          <td>{{value.brand}}/{{value.color}}/{{value.size}}</td>

          <td>&#8377;{{value.price}}</td>
          <td><a class="button btn-sm button-primary" href="/update.cart/{{key}}/dec/"><i
                class="fa fa-minus text-dark"></i></a></td>
          <td>{{value.qty}}</td>

          <td><a class="button btn-sm button-primary" href="/update.cart/{{key}}/inc/"><i
                class="fa fa-plus text-dark"></i></a></td>
          <td>&#8377;{{value.total}}</td>

          <td><a class="button btn-sm button-primary" href="/delete-cart/{{key}}/"><i
                class="fa fa-trash text-light"></i></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
<div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-4">
    <table class="table">
      <tr>
        <th>SubTotal</th>
        <td>&#8377;{{subtotal}}</td>
      </tr>
      <tr>
        <th>Shipping</th>
        <td>&#8377;{{shipping}}</td>
      </tr>
      <tr>
        <th>Total</th>
        <td>&#8377;{{total}}</td>
      </tr>
      <tr>
        <td colspan="2"><a href="/checkout/" class="btn_3 w-100 text-center">checkout</a></td>
      </tr>


    </table>
  </div>

</div>
{% else %}
<div class="my-5 text-center">
  <p>No items in cart </p>
  <a href="/shop/All/All/All/"class="btn_3">Shop Now</a>
</div>

{% endif %}

</div>





<!--================End Cart Area =================-->
{% endblock %}