{% extends 'index.html' %}
{% load static %}



{% block title %}
<title> SuperShop | Buyer Profile</title>
{% endblock %}


{% block body %}
<!-- breadcrumb part start-->
<section class="breadcrumb_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <h2>Profile</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb part end-->
<div class="conitainer-fulid">
    <div class="row">
        <div class="col-md-6">
            {% if buyer.pic %}
            <img src="{{buyer.pic.url}}" height="400px" width="1000px" alt="">
            {% else %}
            <img src="{% static 'images/noimage.png' %}" height="450px" width="700px" alt="">
            {% endif %}
        </div>
        <div class="col-md-6">
            <table class="table">
                <tr>
                <tr>
                    <th>Name:</th>
                    <td>{{buyer.name}}</td>
                </tr>
                <tr>
                    <th>User Name:</th>
                    <td>{{buyer.username}}</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>{{buyer.email}}</td>
                </tr>
                <tr>
                    <th>Phone:</th>
                    <td>{{buyer.phone}}</td>
                </tr>
                <tr>
                    <th>Address:</th>
                    <td>{{buyer.address}}</td>
                </tr>
                <tr>
                    <th>Pin:</th>
                    <td>{{buyer.pin}}</td>
                </tr>
                <tr>
                    <th>City:</th>
                    <td>{{buyer.city}}</td>
                </tr>

                <tr>
                    <th>State:</th>
                    <td>{{buyer.state}}</td>
                </tr>

                <tr>
                    <td colspan="2"><a href="{% url 'updateProfile'  %}" class="btn_3">Update
                            Profile </a></td>
                </tr>
                </tr>
            </table>
        </div>
    </div>
    <h5 class="text-center mt-3 bg-secondary p-2 text-light">Wishlist Section</h5>
    {% if wishlist %}
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Brand/Color/Size</th>
                <th>Price</th>
                <th>shopping-cart</th>
                <th>Delete item</th>
            </tr>
            {% for item in wishlist %}
            <tr>
                <td><img src="{{item.product.pic1.url}}" height="80px" width="80px" class="rounded" alt=""></td>
                <td>{{item.product.name}}</td>
                <td>{{item.product.brand}}/{{item.product.color}}/{{item.product.size}}</td>
                <td>&#8377;{{item.product.finalprice}}</td>
                <td><a href="/single-product/{{item.product.id}}/"><i class="fa fa-shopping-cart"></i></a></td>
                <td><a href="/delete-wishlist/{{item.id}}/"><i class="fa fa-trash text-danger"></i></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
    <p class="text-center mt-3">No Items in Wishlist</p>
    {% endif %}
`</div>
{% endblock %}