{% extends 'index.html' %}
{% load static %}

{% block title %}
<title> SuperShop | Shop</title>
{% endblock %}
{% block body %}


<!-- breadcrumb part start-->
<section class="breadcrumb_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <h2>product list</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb part end-->



<!-- product list part start-->
<section class="product_list pt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="product_sidebar">
                    <div class="single_sedebar">
                        <form action="#">
                            <input type="text" name="#" placeholder="Search keyword">
                            <i class="ti-search"></i>
                        </form>
                    </div>
                    <div class="single_sedebar">
                        <div class="select_option">
                            <div class="select_option_list">MainCategory<i class="right fas fa-caret-down"></i> </div>
                            <div class="select_option_dropdown">
                                <p><a href="/shop/All/{{sc}}/{{br}}/">All</a></p>
                                {% for item in maincategory %}
                                <p><a href="/shop/{{item.name}}/{{sc}}/{{br}}/">{{item.name }}</a></p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="single_sedebar">
                        <div class="select_option">
                            <div class="select_option_list">SubCategory<i class="right fas fa-caret-down"></i> </div>
                            <div class="select_option_dropdown">
                                <p><a href="/shop/{{mc}}/All/{{br}}/">All</a></p>
                                {% for item in subcategory %}
                                <p><a href="/shop/{{mc}}/{{item.name}}/{{br}}/">{{item.name }}</a></p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="single_sedebar">
                        <div class="select_option">
                            <div class="select_option_list">Brand <i class="right fas fa-caret-down"></i> </div>
                            <div class="select_option_dropdown">
                                <p><a href="/shop/{{mc}}/{{sc}}/All/">All</a></p>
                                {% for item in brand %}
                                <p><a href="/shop/{{mc}}/{{sc}}/{{item.name}}/">{{item.name}}</a></p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="product_list">
                <div class="row">
                    {% for item in products %}
                    <div class="col-xl-2 col-lg-1 col-md-2 col-sm-4 col-6">
                        <div class="single_product_item">
                            <a href="/single-product/{{item.id}}">
                                <div class="single_product_item_thumb">
                                    <img src="{{item.pic1.url}}" style="height:100px; width: 100px;" alt="#"
                                        class="img-fluid">
                                </div>
                            </a>
                            <h3 style="height: 30px; width: 30;"> <a
                                    href="/single-product/{{item.id}}">{{item.name}}</a>
                            </h3>
                            <p><del class="text-danger">&#8377;{{item.baseprice}}</del>&#8377;{{item.finalprice}}<sup
                                    class="text-success">{{item.discount}}%off</sup></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="load_more_btn text-center">
                    <a href="#" class="btn_3">Load More</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- product list part end-->

<!-- client review part here -->
<section class="client_review">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="client_review_slider owl-carousel">
                    <div class="single_client_review">
                        <div class="client_img">
                            <img src="{% static 'img/client.png' %}" alt="#">
                        </div>
                        <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help
                            alleviate human suffering.</p>
                        <h5>- Micky Mouse</h5>
                    </div>
                    <div class="single_client_review">
                        <div class="client_img">
                            <img src="{% static 'img/client_1.png' %}" alt="#">
                        </div>
                        <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help
                            alleviate human suffering.</p>
                        <h5>- Micky Mouse</h5>
                    </div>
                    <div class="single_client_review">
                        <div class="client_img">
                            <img src="{% static 'img/client_2.png' %}" alt="#">
                        </div>
                        <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help
                            alleviate human suffering.</p>
                        <h5>- Micky Mouse</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- client review part end -->

<!-- feature part here -->
<section class="feature_part section_padding">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <div class="feature_part_tittle">
                    <h3>Credibly innovate granular
                        internal or organic sources
                        whereas standards.</h3>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="feature_part_content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel dolorem cumque necessitatibus atque
                        autem nobis iste explicabo officiis nihil, nesciunt omnis quidem soluta enim earum, quibusdam
                        tempore? Sequi, dolor dicta.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature_part">
                    <img src="{% static 'img/icon/feature_icon_1.svg' %}" alt="#">
                    <h4>Credit Card Support</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature_part">
                    <img src="{% static 'img/icon/feature_icon_2.svg' %}" alt="#">
                    <h4>Online Order</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature_part">
                    <img src="{% static 'img/icon/feature_icon_3.svg' %}" alt="#">
                    <h4>Free Delivery</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature_part">
                    <img src="{% static 'img/icon/feature_icon_4.svg' %}" alt="#">
                    <h4>Product with Gift</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- feature part end -->

<!-- subscribe part here -->
<section class="subscribe_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="subscribe_part_content">
                    <h2>Get promotions & updates!</h2>
                    <p>Seamlessly empower fully researched growth strategies and interoperable internal or “organic”
                        sources credibly innovate granular internal .</p>
                    <div class="subscribe_form">
                        <input type="email" placeholder="Enter your mail">
                        <a href="#" class="btn_1">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subscribe part end -->

{% endblock %}