{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>SuperShop | login</title>
{% endblock %}

{% block body %}

<!-- breadcrumb part start-->
<section class="breadcrumb_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <h2>update Profile</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb part end-->

<!--================login_part Area =================-->
<section class="login_part p-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                {% if buyer.pic %}
                <img src="{{buyer.pic.url}}" height="400px" alt="">

                {% else %}
                <img src="{% static '/images/noimage.png/' %}" height="400px" alt="">
                {% endif %}
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3 class="text-center">Update profile!!</h3>
                        {% if messages %}
                        {% for m in messages %}
                        <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
                            {{m}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <form class="row contact_form" action="" method="post" novalidate="novalidate"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="row form-group p_star mx-1 w-300">
                                    <input type="text" class="form-control" id="name" name="name" value="{{buyer.name}}"
                                        placeholder="Full Name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group p_star">
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Email Address" value="{{buyer.email}}">
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="phone" name="phone"
                                        placeholder="Phone Number" value="{{buyer.phone}}">
                                </div>
                            </div>
                            <div class="row form-group p_star mx-1 w-300">
                                <textarea name="address" rows="2" class="form-control"
                                    placeholder="Address...." value="{{buyer.address}}"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group p_star">
                                    <input type="number" class="form-control" id="pin" name="pin"
                                        placeholder="PIN CODE" value="{{buyer.pin}}">
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" name="city" id="city" placeholder="city" value="{{buyer.city}}">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group p_star">
                                    <input type="file" class="form-control" name="pic">
                                </div>

                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="state" name="state" value="{{buyer.state}}"
                                        placeholder="cstate">
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="btn_3">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================login_part end =================-->
{% endblock %}